{% extends 'layout/_base_layout.twig' %}

{% block content %}

  <div class="py-24">
    <div class="flex flex-col h-full w-11/12 rounded-2xl m-auto p-12" style="background-color: #212121;">
      <div class="grid md:grid-cols-3 gap-x-4 gap-y-2 w-full justify-between">
        <div class="col-span-1 py-2">
          <img class="w-full h-auto bg-white p-2 m-auto" src="{{ entry.coverImage.one().url }}" alt="">
        </div>
        <div class="col-span-2 md:px-2 border-t border-b md:border-0 borde-white">

          <h1 class="text-white text-xl md:text-2xl lg:text-4xl font-bold">{{ entry.title }} ({{ entry.releaseGame|date("Y")}})</h1>

          <h2 class="text-base md:text-xl text-white py-2 font-bold"> Tanggal Rilis :
            <a class="font-normal text-sm md:text-base">{{ entry.releaseGame|date("d M Y") }}</a>
          </h2>

          <h2 class="text-base md:text-xl text-white py-3 font-bold">Developer :
            {% for item in entry.developer.all() %}
              <a class="md:px-2 xl:py-1 xl:border-2 font-normal rounded-md text-white hover:underline hover:text-gray-400 xl:hover:no-underline text-sm md:text-base border-white xl:hover:bg-white xl:hover:text-black" href="{{ item.url }}"> {{ item }}</a>
                {% if not loop.last %} <span class="xl:hidden font-normal text-sm md:text-base">,</span>{% endif %}
            {% endfor %}
          </h2>

          <h2 class="text-base md:text-xl text-white py-3 font-bold">Publisher :
            {% for item in entry.publisher.all() %}
              <a class="md:px-2 xl:py-1 xl:border-2 font-normal rounded-md text-white hover:underline hover:text-gray-400 xl:hover:no-underline text-sm md:text-base border-white xl:hover:bg-white xl:hover:text-black" href="{{ item.url }}"> {{ item }}</a>
            {% endfor %}
          </h2>

          <h2 class="text-base md:text-xl text-white py-3 font-bold">Genre :
            {% for item in entry.genre.all() %}
              <a class="md:px-2 xl:py-1 xl:border-2 font-normal rounded-md text-white hover:underline hover:text-gray-400 xl:hover:no-underline text-sm md:text-base border-white xl:hover:bg-white xl:hover:text-black" href="{{ item.url }}"> {{ item }}</a>
              {% if not loop.last %} <span class="xl:hidden font-normal text-sm md:text-base">,</span>{% endif %}
            {% endfor %}
          </h2>

          <h2 class="text-base md:text-xl text-white py-3 font-bold">Mode :
            {% for item in entry.mode.all() %}
              <a class="md:px-2 xl:py-1 xl:border-2 font-normal rounded-md text-white hover:underline hover:text-gray-400 xl:hover:no-underline text-sm md:text-base border-white xl:hover:bg-white xl:hover:text-black" href="{{ item.url }}"> {{ item }}</a>
              {% if not loop.last %} <span class="xl:hidden font-normal text-sm md:text-base">,</span>{% endif %}
            {% endfor %}
          </h2>

          <h2 class="text-base md:text-xl text-white py-3 font-bold">Perspective :
            {% for item in entry.perspective.all() %}
              <a class="md:px-2 xl:py-1 xl:border-2 font-normal rounded-md text-white hover:underline hover:text-gray-400 xl:hover:no-underline text-sm md:text-base border-white xl:hover:bg-white xl:hover:text-black" href="{{ item.url }}"> {{ item }}</a>
              {% if not loop.last %} <span class="xl:hidden font-normal text-sm md:text-base">,</span>{% endif %}
            {% endfor %}
          </h2>

          <h2 class="text-base md:text-xl text-white py-3 font-bold">Engine :
            {% for item in entry.engine.all() %}
              <a class="md:px-2 xl:py-1 xl:border-2 font-normal rounded-md text-white hover:underline hover:text-gray-400 xl:hover:no-underline text-sm md:text-base border-white xl:hover:bg-white xl:hover:text-black" href="{{ item.url }}"> {{ item }}</a>
            {% endfor %}
          </h2>

          <h2 class="text-base md:text-xl text-white py-3 font-bold">Platform :
            {% for item in entry.platform.all() %}
              <a class="md:px-2 xl:py-1 xl:border-2 font-normal rounded-md text-white hover:underline hover:text-gray-400 xl:hover:no-underline text-sm md:text-base border-white xl:hover:bg-white xl:hover:text-black" href="{{ item.url }}"> {{ item }}</a>
              {% if not loop.last %} <span class="xl:hidden font-normal text-sm md:text-base">,</span>{% endif %}
            {% endfor %}
          </h2>

        </div>
      </div>
      <div class="box-content w-full h-full my-2 bg-transparent">
        <h1 class="text-white text-xl font-bold">Ringkasan :</h1>
        <div class="text-white">{{ entry.richText }}</div>
      </div>
    </div>
  </div>

{% endblock %}