{% set menuFooter = [
    {'menu': 'Genre', 'link': base~'games/genre'},
    {'menu': 'Mode', 'link': base~'mode'},
    {'menu': 'Platform', 'link': base~'platform'},
  ]
%}

<!--Footer start-->
<footer class="w-full h-auto" style="background-color: #111111;">
  <div class="grid md:grid-cols-3 w-11/12 gap-x-12 gap-y-4 m-auto pt-4 pb-8">
    <div class="box-content bg-transparent text-white">
      <h1 class="font-bold md:text-lg border-b-2 pb-2">About</h1>
      <p class="text-sm md:text-base pt-2">{{ footer.richText }}</p>
    </div>
    <div class="box-content bg-transparent text-white">
      <h1 class="font-bold md:text-lg border-b-2 pb-2">Menu</h1>
      <ul class="pt-2">
      {% for item in menuFooter %}
        <li class="text-white"><a class="text-sm md:text-base hover:text-gray-400 hover:underline" href="{{ item.link }}">{{ item.menu }}</a></li>
      {% endfor %}
      </ul>
    </div>
    <div class="box-content bg-transparent text-white">
      <h1 class="font-bold md:text-lg border-b-2 pb-2">Find me</h1>
        <ul class="pt-2">
          <div class="flex flex-row">
            <a href="{{ footer.instagram }}" target="_blank"><i class="lab la-instagram pr-4 opacity-100 hover:opacity-40" style="font-size: 32px;"></i></a>
            <a href="{{ footer.telegram }}" target="_blank"><i class="lab la-telegram pr-4 opacity-100 hover:opacity-40" style="font-size: 32px;"></i></a>
            <a href="{{ footer.github }}" target="_blank"><i class="lab la-github opacity-100 hover:opacity-40" style="font-size: 32px;"></i></a>
          </div>
        </ul>
    </div>
  </div>
  <div class="py-4 border-t w-11/12 m-auto">
    <p class="text-xs md:text-sm col-span-2 text-gray-300 my-auto">Copyright &copy; 2021 <a class="hover:underline hover:text-gray-500" href="{{ base }}">infoGames</a> | Website Design by Haris purwanto</p>
  </div>
</footer>
<!--Footer end-->