{% set menuFooter = [
    {'menu': 'Developer', 'link': base~'games/developer'},
    {'menu': 'Publisher', 'link': base~'games/publisher'},
    {'menu': 'Genre', 'link': base~'games/genre'},
    {'menu': 'Mode', 'link': base~'games/mode'},
    {'menu': 'Perspective', 'link': base~'games/perspective'},
    {'menu': 'Engine', 'link': base~'games/engine'},
    {'menu': 'Platform', 'link': base~'games/platform'},
  ]
%}

<!--Footer start-->
<footer class="w-full h-auto" style="background-color: #111111;">
  <div class="grid md:grid-cols-4 w-11/12 gap-x-12 gap-y-4 m-auto pt-4 pb-8">
    <div class="box-content bg-transparent text-white">
      <h1 class="font-bold text-center md:text-left text-yellow-500 md:text-lg border-b-2 border-yellow-500 pb-2">About</h1>
      <div class="text-sm text-center md:text-left text-white md:text-base pt-2">{{ footer.richText }}</div>
    </div>
    <div class="box-content bg-transparent text-white">
      <h1 class="font-bold text-center md:text-left text-yellow-500 md:text-lg border-b-2 border-yellow-500 pb-2">Menu</h1>
      <ul class="pt-2">
      {% for item in menuFooter %}
        <li class="text-white text-center md:text-left"><a class="text-sm md:text-base hover:text-gray-400 hover:underline" href="{{ item.link }}">{{ item.menu }}</a></li>
      {% endfor %}
      </ul>
    </div>
    <div class="box-content bg-transparent text-white">
      <h1 class="font-bold text-center md:text-left text-yellow-500 md:text-lg border-b-2 border-yellow-500 pb-2">Recent post</h1>
        <ul class="pt-2">
          {% set recent = craft.entries.section('games').limit(6).all() %}
          {% for item in recent %}
            <li class="text-white text-center md:text-left"><a class="text-sm md:text-base hover:text-gray-400 hover:underline" href="{{ item.url }}">{{ item.title }}</a></li>
          {% endfor %}
        </ul>
    </div>
    <div class="box-content bg-transparent text-white">
      <h1 class="font-bold text-center md:text-left text-yellow-500 md:text-lg border-b-2 border-yellow-500 pb-2">Find me</h1>
        <ul class="pt-2">
          <div class="flex flex-row justify-center md:justify-start m-auto">
            <a href="{{ footer.instagram }}" target="_blank"><i class="lab la-instagram pr-4 opacity-100 hover:opacity-40" style="font-size: 32px;"></i></a>
            <a href="{{ footer.telegram }}" target="_blank"><i class="lab la-telegram pr-4 opacity-100 hover:opacity-40" style="font-size: 32px;"></i></a>
            <a href="{{ footer.github }}" target="_blank"><i class="lab la-github opacity-100 hover:opacity-40" style="font-size: 32px;"></i></a>
          </div>
        </ul>
    </div>
  </div>
  <div class="py-4 border-t border-yellow-500 w-11/12 m-auto">
    <p class="text-xs md:text-sm col-span-2 text-gray-300 my-auto">Copyright &copy; 2021 <a class="text-yellow-500 hover:underline hover:text-opacity-50" href="{{ base }}">infoGim</a> | Website Design by Haris purwanto</p>
  </div>
</footer>
<!--Footer end-->