{% if pageInfo.lastUrl %}
  <a class="{{ classPagination }}" href="{{ pageInfo.firstUrl }}"><i class="las la-angle-double-left"></i></a>
{% endif %}

{% if pageInfo.prevUrl %}
  <a class="{{ classPagination }}" href="{{ pageInfo.prevUrl }}"><i class="las la-angle-left"></i></a>
{% endif %}

{% if pageInfo.nextUrl %}
  <a class="{{ classPagination }}" href="{{ pageInfo.nextUrl }}"><i class="las la-angle-right"></i></a>
{% endif %}

{% if pageInfo.firstUrl %}
  <a class="{{ classPagination }}" href="{{ pageInfo.lastUrl }}"><i class="las la-angle-double-right"></i></a>
{% endif %}