{% for page, url in pageInfo.getPrevUrls() %}
  <a class="{{ classPagination }}" href="{{ url }}">{{ page }}</a>
{% endfor %}

<span class="px-4 py-2 border-2 border-yellow-500 font-bold rounded-md m-auto bg-yellow-500 text-black">{{ pageInfo.currentPage }}</span>

{% for page, url in pageInfo.getNextUrls() %}
  <a class="{{ classPagination }}" href="{{ url }}">{{ page }}</a>
{% endfor %}